.profile-display-container {
    background-color: #2E8AE6;
    display: flex;
    padding: 1.5em;
}

.profile-display-image {
    width: 48px;
    border-radius: 50%;
    margin-right: 1em;
}

.profile-display-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-display-name {
    font-size: 1rem;
}

.profile-display-button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 300;
    margin-top: 0.3em;
}
