.list {
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.left {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 200px;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cross {
    margin-left: auto;
    display: flex;
    justify-content: right;
    visibility: hidden;
    fill: gray;
    opacity: 0;
    transition: opacity 500ms;
    cursor: pointer;
}

.list:hover > .cross {
    visibility: visible;
    opacity: 1;
}

.left > input[type=checkbox] {
    margin-right: 1em;
    width: 16px;
    height: 16px;
}

