.container {
    display: flex;
}

.content {
    width: 100%;
    background-color: var(--color-gray);
    height: 100vh;
    padding: 1%;
}

h2{
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
}

.profileBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #FFF;
    padding: 2%;
}

.profileConent{
    display: flex;
    width: 100%;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 1%;
}
.moreInfo{
    flex-grow: 12;
    padding: 1%;
    border-left: 2px solid #EEE;
}

.userInfo img{
    width: 10vw;
    margin: 0;
}

.userInfo .changeImageButton{
    width: auto;
}

.userInfo .inputBox{
    margin-top: 20px;
}
