.container {
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5em 1.5em;
}

.container:focus,
.container:hover {
    background-color: rgba(0,0,0, 0.05);
}

.active {
    border-right: 3px solid var(--color-blue);
}

.cross {
    visibility: hidden;
    fill: gray;
    opacity: 0;
    margin-left: auto;
    transition: opacity 500ms;
}

.cross:focus,
.cross:hover {
    opacity: 0.75;
}

.container:hover > .cross {
    visibility: visible;
    opacity: 0.5;
}


.tasksLeft {
    opacity: 0.65;
    margin-left: 0.5em;
}

