.sidebar-container {
    flex-shrink: 0;
    max-width: 256px;
    height: 100vh;
}

.sidebar-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
}
