.card {
  margin: 4rem auto;
  background-color: var(--color-white);
  width: 500px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.addTask {
  border: none;
  margin: 0;
  outline: none;
  padding: 1em;
  font-size: 1.15rem;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.addTask::placeholder {
  font-style: italic;
}
