@import "~react-datepicker/dist/react-datepicker.css";


.react-datepicker__close-icon {
  padding: 0.25em 0.25em;
  margin: 0;
}

.react-datepicker__close-icon::after {
  padding: 0.25em;
}

.expired {
  position: relative;
  color: red;
  padding: 1em;
  font-style: italic;
}