@import "~react-datepicker/dist/react-datepicker.css";

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  max-width: 100px;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker__close-icon {
  margin: 0;
  padding: 0px 0px 0px 75px;
}

.react-datepicker__close-icon::after {
  padding: 0.25em;
}

.expired {
  position: relative;
  color: red;
  padding: 0px 0px 0px 20px;
  font-style: italic;
}